nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Node.js Express Mongoose Demo
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class='active')
          a(href="/articles/new", title="new article") New
        - if (req.isAuthenticated())
          li
            a(href="/users/profile/"+req.user.id, title="Profile") Profile
          li
            a(href="/logout", title="logout") Logout
        - else
          li(class=isActive('/login') ? 'active' : '')
            a(href="/login", title="Login") Login