article.article
  h3
    a(href='/articles/'+article._id, title=article.title) #{article.title}
  p= article.body

  .meta
    span.muted= formatDate(article.createdAt)

    - if (article.user)
      | &nbsp; - &nbsp;
      span Author &nbsp;

      - var name = article.user.name ? article.user.name : article.user.username

      a(href="/users/profile/"+article.user._id)= name

    - if (article.tags)
      | &nbsp; - &nbsp;
      span Tags &nbsp;
      each tag in article.tags.split(',')
        i.muted.fa.fa-tag &nbsp;
        a.tag(href="/tags/"+tag)= tag
        | &nbsp;&nbsp;
