//- OVERVIEW
//-================================

//- Support
//--------------------------------
//- Works correctly in all email clients, except for Lotus Notes 4.5 and Lotus Notes 5

//- PARTIAL MIXINS
//-================================

//- Style Tags
//--------------------------------
mixin style-tags
    style.
        html {
            margin: 0;
            padding: 0;
            height: 100% !important;
            width: 100% !important;
            background-color: #F9F9F9 !important;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100% !important;
            width: 100% !important;
            background-color: #F9F9F9 !important;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;

            @media only screen and (max-width: 720px) {
                -webkit-text-size-adjust:none !important;
                width: 100% !important;
                min-width: 100% !important;
            }
        }

    | <!--[if (gte mso 9)|(IE)]>
    style.
        .u-textFallback {
            font-family: Arial, Helvetica, sans-serif !important;
            color: hotpink;
        }

        .u-textFallback:link {
            color: hotpink !important;
        }
    | <![endif]-->


//- IE Conditional Comment Opening
//--------------------------------
mixin ie-open(props)
    - props = props || {};
    - table = props.table ? 'width="' + props.table + '"' : '';
    - cell = props.cell ? 'width="' + props.cell + '"' : '';
    | <!--[if (gte mso 9)|(IE)]>
    | <table cellspacing="0" cellpadding="0" border="0" !{table} align="center">
    | <tr>
    | <td valign="top" !{cell}>
    | <![endif]-->


//- IE Conditional Comment Seperator
//--------------------------------
mixin ie-col(props)
    - props = props || {};
    - cell = props.cell ? 'width="' + props.cell + '"' : '';
    | <!--[if (gte mso 9)|(IE)]>
    | </td>
    | <td valign="top" !{cell}>
    | <![endif]-->


//- IE Conditional Comment Closing Partial
//--------------------------------
mixin ie-close(props)
    - props = props || {};
    | <!--[if (gte mso 9)|(IE)]>
    | </td>
    | </tr>
    | </table>
    | <![endif]-->


//- Preheader
//--------------------------------
mixin preheader
    table(class="Preheader" width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ec352d")
        tr: td(style="background: #ec352d; color: #ec352d; font-size: 1px; height: 15px") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aliquam eligendi, quis nulla quos, culpa ut dolorem reprehenderit delectus, aut perspiciatis error! Nostrum ea aspernatur adipisci similique reprehenderit corporis ex.
        tr: td
            +ie-open({table: 600})
            table(width="100%" align="center" style="max-width: 600px;"): tr: td
                table(align="right" cellspacing="0" cellpadding="0" border="0"): tr
                    td(style="padding: 0 20px 15px 0")
                        a(class="u-textFallback" href="http://www.megahack.com" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Visit Store
                    td(style="padding: 0 20px 15px 0")
                        a(class="u-textFallback" href="http://www.megahack.com" style="font-size: 12px; font-family: Montserrat, Arial, sans-serif; color: white; text-decoration: none;") Your Account
            +ie-close


//- Header
//--------------------------------
mixin header
    tr
        td(style="padding: 15px 20px 0px 0px")
            a(href="http://www.megahack.com")
                img(src="cid:app-logo" alt="megahack Logo" width="245" style="border-style: none; outline: none")

//- Super Heading
//--------------------------------
mixin super-heading
    tr
        td(style="font-size: 0; background-color: #ec352d; text-align: center; padding: 16px 0")
            +ie-open(({cell: 400}))
            div(style="display: inline-block;")
                table(cellspacing="0" cellpadding="0" border="0" width="400"): tr: td(class="u-textFallback" style="font-weight: bold; text-align: left; font-size: 19px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") CONFIRMARE COMANDA<br>ONLINE
            //+ie-col(({cell: 400}))
            //div(style="display: inline-block;")
                table(cellspacing="0" cellpadding="0" border="0" width="400"): tr: td(class="u-textFallback" style="text-align: right; font-size: 14px; color: white; padding: 7px 20px; font-family: Montserrat, Arial, sans-serif; line-height: 1.7") Transaction ID: 17041100002176<br>Date: 21/02/2015
            +ie-close


//-Intro Block
//--------------------------------
mixin intro-block
    tr
        td(style="font-size: 0; background-color: white; text-align: center; padding: 15px 0 35px")
            +ie-open(({cell: 400}))
            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="400"): tr: td(class="u-textFallback" style="line-height: 1.4; text-align: left; font-size: 15px; color: #666666; padding: 15px 20px; font-family: Montserrat, Arial, sans-serif") <p>Salut #{name}</p><p>Acesta este un mail automat pentru confirmarea comenzii. Apasati pe urmatorul link pentru a va finaliza comanda.</p><p></p>
            +ie-col(({cell: 398}))
            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="398")
                    tr: td(style="padding: 15px 20px")
                        table(cellspacing="0" cellpadding="0" border="0" width="100%")
                            //tr: td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; border: 1px solid #CCCCCC; background-color: #EDEDED; color: #777777; font-size: 14px; padding: 30px 20px; text-align: left") Bank Details:<p style="font-weight: bold">Bank: FNB<br />Acc: 62345047915<br />Branch: 250655<br />Acc Type: Cheque<br />Acc Holder: RunwaySale<br />Reference Number: 17041100002176</p>
                            tr: td(style="padding-top: 15px;").
                                [if mso]
                                v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href=#{verification_url} style="height:45px;v-text-anchor:middle;width:360px;" stroke="f" fillcolor="#F05032">
                                  <w:anchorlock/>
                                  <center>
                                [endif]
                                    <a class="u-textFallback" href=#{verification_url} style="background-color:#F05032;color:#ffffff;display:block;font-family:sans-serif;font-weight:bold;line-height:45px;text-align:center;text-decoration:none;width:360px;-webkit-text-size-adjust:none; font-family: Montserrat, Arial, sans-serif; font-size: 14px;" > PLASARE COMANDA </a>
                                [if mso]
                                </center>
                                </v:rect>
                                [endif]
            +ie-close


//- Small Header
//--------------------------------
mixin small-header
    tr
        td(class="u-textFallback" style="font-size: 16px; background-color: #ec352d; padding: 15px 20px; color: white; font-family: Montserrat, Arial, sans-serif; font-weight: bold") OVERVIEW


//- Info Block
//--------------------------------
mixin info-block
    tr
        td(style="border-bottom: 1px solid #CCCCCC; background-color: #EDEDED; padding: 15px 0px; text-align: center; font-size: 0")
            +ie-open(({cell: 300}))
            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="300")
                    tr
                        td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 0 0 40px; text-align: left") Payment Method:
                        td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 40px 0 0; text-align: right; font-weight: bold") EFT
                    tr
                        td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 3px 0 15px 40px; text-align: left") Total Cost:
                        td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 3px 40px 15px 0; text-align: right; font-weight: bold") R12,000,000

            +ie-col(({cell: 300}))

            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="300")
                    tr
                        td(class="u-textFallback" style="line-height: 1.5; font-family: Montserrat, Arial, sans-serif; color: #777777; font-size: 14px; padding: 15px 40px; text-align: left") Delivery to:<p style="font-weight: bold">11 Example Street<br>Example Suburb<br>Cape Town<br>7130</p>
            +ie-close


//- Item Order
//--------------------------------
mixin item-order
    tr
        td(style="border-top: 1px solid #EDEDED; background-color: white; font-size: 0; padding: 30px 0; text-align: center")
            +ie-open(({cell: 300}))
            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="300" valign="top"): tr
                    td(style="padding: 0 20px")
                        img(src="http://placehold.it/82x82" width="82" height="82" style="border: 1px solid #D4D4D4")
                    td(class="u-textFallback" style="line-height: 1.4; padding: 0 20px 0 0; color: #666666; text-align: left; font-size: 14px; font-family: Montserrat, Arial, sans-serif;") <b>Kids Aztec Diamond Mermaid Flip Flops</b><br>Size: XL
            +ie-col(({cell: 300}))
            div(style="display: inline-block; vertical-align: top")
                table(cellspacing="0" cellpadding="0" border="0" width="300")
                    tr: td(class="u-textFallback" style="font-size: 14px; padding: 15px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") R500 x 3
                    tr: td(class="u-textFallback" style="font-size: 14px; padding: 0px 40px 0 0; color: #666666; text-align: right; font-size: 14px; font-family: Montserrat, Arial, sans-serif; line-height: 1.4") <b>R1500</b>
            +ie-close


//- Order Total
//--------------------------------
mixin order-total
    tr
        td(style="border-top: 1px solid #CCCCCC; background-color: #EDEDED; padding: 30px 20px 50px;")
            table(cellspacing="0" cellpadding="0" border="0" width="300" align="right")

                tr: td(style="border-bottom: 1px solid #666666; border-top: 1px solid #666666; padding: 30px 20px")
                    table(cellspacing="0" cellpadding="0" border="0" width="100%")
                        tr
                            td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") Sub-total:
                            td(class="u-textFallback" style="text-align: right; font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") <b>R2,00,050</b>
                        tr
                            td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") Shipping:
                            td(class="u-textFallback" style="text-align: right; font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") <b>R450</b>

                tr: td(style="padding: 30px 20px 0;")
                    table(cellspacing="0" cellpadding="0" border="0" width="100%"): tr
                        td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") Total:
                        td(class="u-textFallback" style="text-align: right; font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px;") <b>R450</b>


//- Thank You Message
//--------------------------------
mixin thank-you
    tr
        td(style="border-top: 1px solid #CCCCCC; background-color: #EDEDED; padding: 30px 20px;")
            table(cellspacing="0" cellpadding="0" border="0" width="100%")
                tr: td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px; line-height: 1.5; text-align: center; ") Thanks for shopping with us!
                tr: td(class="u-textFallback" style="font-family: Montserrat, Arial, sans-serif; color: #666666; font-size: 14px; line-height: 1.5; text-align: center; ") From the team


//- Call to Action
//--------------------------------
mixin call-to-action
    tr
        td(class="u-textFallback" style="padding: 70px 20px 80px; text-align: center; font-size: 15px; font-family: Montserrat, Arial, sans-serif; color: #666666") <span style="line-height: 1.4"><b>Call to action here</b><br>We will give you R50 discount if you shop now.</span>
            table(cellspacing="0" cellpadding="0" border="0" align="center"): tr
                td(style="padding-top: 15px").
                    <!--[if mso]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="#" style="height:45px;v-text-anchor:middle;width:260px;" stroke="f" fillcolor="#F05032">
                        <w:anchorlock/>
                        <center>
                    <![endif]-->
                    <a class="u-textFallback" href="#"
                    style="background-color:#F05032;color:#ffffff;display:block;font-family:sans-serif;font-weight:bold;line-height:45px;text-align:center;text-decoration:none;width:260px;-webkit-text-size-adjust:none; font-family: Montserrat, Arial, sans-serif; font-size: 14px;">RECEIVE DISCOUNT</a>
                    <!--[if mso]>
                        </center>
                        </v:rect>
                    <![endif]-->


//- Footer
//--------------------------------
mixin footer(props)
    - props = props || {};
    table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0"): tr
        td(style="padding-top: 15px")
            table(width="100%" align="center" style="background-color: #ec352d;" cellspacing="0" cellpadding="0" border="0"): tr
                td(style="padding: 45px 0 35px;")
                    +ie-open({table: 600})
                    table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px; background-color: #ec352d; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #777777;")
                        tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px") For any queries email us at office@megahack.com or call us at 087 943 1234
                        tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 8px 40px 16px;") Splaiul Independentei 290, camin P4, camera 420
                    table(width="100%" align="center" cellspacing="0" cellpadding="0" border="0" style="width: 100%; max-width: 600px;")

                        tr: td(class="u-textFallback" width="100%" style="font-size: 13px; font-family: Montserrat, Arial, Helvetica, sans-serif; color: white; text-align: center; padding: 15px 20px 7px")
                            a(href="#" style="color: white; text-decoration: none; font-weight: 700") CALL TO ACTION
                            span &nbsp;| GET REWARDED
                        tr: td(style="padding: 16px 10px 8px")
                            table(align="center" cellspacing="0" cellpadding="0" border="0"): tr
                                td(style="padding: 0 7px;")
                                    a(href="https://twitter.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-twitter-x2.png" alt="Twitter" style="height: 25px;" height="25")
                                td(style="padding: 0 7px;")
                                    a(href="https://www.facebook.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-facebook-x2.png" alt="Facebook" style="height: 25px;" height="25")
                                td(style="padding: 0 7px;")
                                    a(href="https://www.instagram.com"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-instagram-x2.png" alt="Instagram" style="height: 25px;" height="25")
                                td(style="padding: 0 7px;")
                                    a(href="https://plus.google.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-google-plus-x2.png" alt="Google+" style="height: 25px;" height="25")
                                td(style="padding: 0 7px;")
                                    a(href="https://za.pinterest.com/"): img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/330390/mail-pinterest-x2.png" alt="Pinterest" style="height: 25px;" height="25")
                    +ie-close




//- MARKUP
//-================================

//- Pseudo Header
//--------------------------------
html
    body
        meta(content="telephone=no" name="format-detection")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet")
        +style-tags


        //- Entire Email Wrapper
        //--------------------------------
        table(cellspacing="0" cellpadding="0" border="0" width="100%")
            tr: td


                //- Preheader Menu
                //--------------------------------
                //+preheader


            //- Open Centered Content Wrapper
            //--------------------------------
            tr: td(style="padding: 0 20px")
                +ie-open({table: 602})
                table(cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="max-width: 602px")


                    //- Logo Header
                    //--------------------------------
                    +header


                    //- First Content Block
                    //--------------------------------
                    tr: td
                        table(cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #CCCCCC")
                            +super-heading
                            +intro-block


                    //- Spacing Cell
                    //--------------------------------
                    //tr: td(height="30") &nbsp;


                    //- Second Content Block
                    //--------------------------------
                    //tr: td
                    //    table(cellspacing="0" cellpadding="0" border="0" width="100%" style="border: 1px solid #CCCCCC")
                    //        +small-header
                    //        +info-block
                    //        each val in []
                    //            +item-order
                    //        +order-total
                    //        +thank-you


                    //- Call to Action
                    //--------------------------------
                    //+call-to-action


                //- Close Centered Content Wrapper
                //--------------------------------
                +ie-close


            //- Footer
            //--------------------------------
            tr: td: +footer
